/* GENERIC */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #9d9d9d;
}

.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.mb-20{
  margin-bottom: 20px;
}



/* HEADER */

header div.logo{
  width: 12%;
  border-right: 1px solid #e5e5e5;
  padding-right: 15px;
}

header div.logo img{
  width: 100%;
}


/* HEADER MENU */

header div.menu{
  float: left;
  text-align: left;
}

header div.menu nav ul{
  list-style: none;
}

header div.menu nav ul li{
  display: inline-block;
  margin-right: 10px;
}

header div.menu nav ul li a:hover{
  color: red;
}


/* HEADER JUMBOTRON */

.jumbotron{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

div.text-jumbotron{
  padding-top: 27%;
  padding-left: 40px;
  width: 52%;
}

div.text-jumbotron h3{
  font-size: 1.8rem;
}