/* GENERIC */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #929292;
}

/* UTILITIES */

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0px auto;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #9d9d9d;
}

h1{
  font-size: 2.5rem;
}

h4{
  margin-bottom: 10px;
}

.alternative-font{
  font-family: Arial, Helvetica, sans-serif;
}

.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.mb-30{
  margin-bottom: 30px;
}

.mr-1p5{
 margin-right: 1.5%;
}

.ml-1p5{
  margin-left: 1.5%;
}

.black-text{
  color: black;
}

.bg-position{
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}


/* HEADER */

header div.logo{
  width: 12%;
  border-right: 1px solid #e5e5e5;
  padding-right: 15px;
}

header div.logo img{
  width: 100%;
}


/* HEADER MENU */

header div.menu{
  float: left;
  text-align: left;
}

header div.menu nav ul{
  list-style: none;
}

header div.menu nav ul li{
  display: inline-block;
  margin-right: 10px;
}

header div.menu nav ul li a:hover{
  color: red;
}


/* HEADER JUMBOTRON */

.jumbotron{
  background-image: url('../img/banner.jpg');
  height: 500px;
  color: white;
}

div.text-jumbotron{
  padding-top: 27%;
  padding-left: 40px;
  width: 52%;
}

div.text-jumbotron h3{
  font-size: 1.8rem;
}



/* MAIN */

.col{
  float: left;
}

.image-box{
  margin-bottom: 20px;
  height: 200px;
}

main div.clearfix aside{
  width: 18.5%;
}

main div.clearfix section{
  width: 60%;
}

main div.clearfix .center-col .image-box{
  background-image: url('../img/banner-2.jpg');
}

main div.clearfix aside.left-col .image-box{
  background-image: url('../img/img-1.jpg');
}

main div.clearfix aside.right-col .image-box{
  background-image: url('../img/img-3.jpg');
}

.clearfix{
  margin-bottom: 20px;
}

/* FOOTER */

footer.credits{
  height: 50px;
  text-align: center;
  line-height: 50px;
}

footer span.author::after{
  content: '\2764';
  color: red;
}